web/hotels.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="ir.hotels.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Hotels_Service" targetNamespace="ir.hotels.wsdl">
	<types>
		<xsd:schema targetNamespace="ir.hotels.wsdl">
			<xsd:complexType name="day">
				<xsd:sequence>
					<xsd:element name="date" type="xsd:string"/>
					<xsd:element name="tariff" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="customer_info">
				<xsd:sequence>
					<xsd:element name="first_name" type="xsd:string"/>
					<xsd:element name="last_name" type="xsd:string"/>
					<xsd:element name="email" type="xsd:string"/>
					<xsd:element name="phone" type="xsd:string"/>
					<xsd:element name="mobile" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="agency_info">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="hotel">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:long"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="rate" type="xsd:short"/>
					<xsd:element name="phone" type="xsd:string"/>
					<xsd:element name="extra_capacity_tariff" type="xsd:long"/>
					<xsd:element name="rooms" type="tns:room" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="reserve_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reserve_accept_code" type="xsd:long" minOccurs="0"/>
						<xsd:element name="balance" type="xsd:long" minOccurs="0"/>
						<xsd:element name="status" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reserve_request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reserve_code" type="xsd:long"/>
						<xsd:element name="agency_info" type="tns:agency_info"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pre_reserve_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="final_price" type="xsd:long" minOccurs="0"/>
						<xsd:element name="reserve_code" type="xsd:long" minOccurs="0"/>
						<xsd:element name="customer_code" type="xsd:long" minOccurs="0"/>
						<xsd:element name="status" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pre_reserve_request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="hotel_code" type="xsd:long"/>
						<xsd:element name="room_code" type="xsd:long"/>
						<xsd:element name="date" type="xsd:string"/>
						<xsd:element name="days_count" type="xsd:int"/>
						<xsd:element name="extra_capacity_count" type="xsd:int"/>
						<xsd:element name="customer" type="tns:customer_info" minOccurs="0"/>
						<xsd:element name="agency_info" type="tns:agency_info"/>
						<xsd:element name="customer_code" type="xsd:long" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="room_list_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string"/>
						<xsd:element name="hotels" type="tns:hotel" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="room_list_request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="date" type="xsd:string"/>
						<xsd:element name="days_count" type="xsd:int"/>
						<xsd:element name="city" type="xsd:string"/>
						<xsd:element name="agency_info" type="tns:agency_info"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="room">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:long"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="main_capacity" type="xsd:int"/>
					<xsd:element name="extra_capacity" type="xsd:int"/>
					<xsd:element name="price_main_capacity" type="xsd:long"/>
					<xsd:element name="days" type="tns:day" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="ListRoomsIn">
		<part name="room_list_request" element="tns:room_list_request"/>
	</message>
	<message name="ListRoomsOut">
		<part name="room_list_response" element="tns:room_list_response"/>
	</message>
	<message name="PreReserveIn">
		<part name="pre_reserve_request" element="tns:pre_reserve_request"/>
	</message>
	<message name="PreReserveOut">
		<part name="pre_reserve_response" element="tns:pre_reserve_response"/>
	</message>
	<message name="ReserveIn">
		<part name="reserve_request" element="tns:reserve_request"/>
	</message>
	<message name="ReserveOut">
		<part name="reserve_response" element="tns:reserve_response"/>
	</message>
	<portType name="myPort">
		<operation name="ListRooms">
			<input message="tns:ListRoomsIn"/>
			<output message="tns:ListRoomsOut"/>
		</operation>
		<operation name="PreReserve">
			<input message="tns:PreReserveIn"/>
			<output message="tns:PreReserveOut"/>
		</operation>
		<operation name="Reserve">
			<input message="tns:ReserveIn"/>
			<output message="tns:ReserveOut"/>
		</operation>
	</portType>
	<binding name="MyBinding" type="tns:myPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ListRooms">
			<soap:operation soapAction="urn:#NewOperation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="PreReserve">
			<soap:operation soapAction="urn:#NewOperation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Reserve">
			<soap:operation soapAction="urn:#NewOperation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="HotelsService">
		<port name="port" binding="tns:MyBinding">
			<soap:address location="http://hotel.picolig.ir/web/hotelService"/>
		</port>
	</service>
</definitions>
